@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Vinyl&family=Sankofa+Display&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary:rgb(6, 206, 196);
    --secondary:rgb(214, 214, 100);
    --white:#efefef;
}
body{
    font-family: "DM Sans", sans-serif;
    color:var(--primary);
}

#main{
    background-image: url(./image7.jpeg);
    min-height:50vh;
    background-position:bottom center;
    background-size:cover;
}
.container{
    padding:16px;
    max-width:1200px;
    margin: auto;
}
nav{
    display:flex;
}