@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Vinyl&family=Sankofa+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(6, 126, 206);
    --secondary: rgb(170, 172, 51);
    --white: #efefef;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--primary);
}

#main {
    background-image: url(./image8.jpg);
    min-height: 50vh;
    background-position: bottom center;
    background-size: cover;
}

.container {
    padding: 16px;
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 35px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 19px;
    align-items: center;
}

a {
    text-decoration: none;
    /*text-decoration: none; it will remove underline */
}

.nav-list a {
    color:var(--white);
    font-weight: bold
}

.btn {
    padding: 12px 20px;
    background-color: rgb(167, 211, 141);
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.btn-secondary {
    border: 1px solid var(--white);
    color: var(--white);
    font-weight:bold;
}
.btn-primary{
    border:none;
    background:var(--secondary);
    color:black;
    font-weight:bold;
}
.main-content{
    margin-top:80px;
    padding:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:white;

}
.main-content .intro-heading{
    font-size:50px;
}
.main-content .main-heading{
    font-size:110px;
    margin-top:-15px;
    margin-bottom:10px;

}
.menu-btn{
position:absolute;
top:20px;
right:20px;
width:30px;
display:none;
}

@media screen and (max-width:520px){
    .menu-btn{
        display:block;
        color: white;
    }
    .nav-list{
        background:grey;
        flex-direction:column;
        position:absolute;
        top:0px;
        right:0px;
        width:80%;
        padding-top:80px;
        margin-bottom:2px;
        padding-bottom:13px;
    }
    .nav-list li:not(:nth-child(5)){
        text-align:left;
        width:100%;
        padding:10px 30px;
        border-bottom:1px solid var(--white)
    }
}